.app{
  width: 70vh;
  height: 40vh;
  display: flex;
  padding: 2vw;
  margin: auto;
  margin-top: 25vh;
  background-color: beige;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.section2{
  padding: 2vh;
  font-size: 1.2rem;
}
.profile-pic{
  height: 25vh;
  border-radius: 15px;
}